* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #77BA99;
}

.container {
    height: 70vmin;
    width: 70vmin;
    display: flex;
    justify-content: center;
    align-items: center;


}

.game {
    height: 60vmin;
    width: 60vmin;
    border:none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:center ;
    gap: 1.2rem;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem rgb(0, 0, 0,0.5);
    font-size: 80px;
    color: #262730;
    background-color: antiquewhite;
}

.resetbtn {
    background-color: #262730;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 18px;
    color: white;
    
}

.hideall {
    display: none;
}
.hide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 700px;
    width: 100%;
    
}

#newgameBtn {
    background-color: #262730;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 18px;
    color: white;
}

.para {
    font-size: 150px;
    
}